.footer{
    width: 100%;
    margin: 0 auto;
    background-color: black;
    color: #fff;
    padding: 0.1px;
    
}
.footer h1{
    color: brown;
    font-size: 50px;
}
.wrap1-btn{
    display: flex;
    justify-content: center;
    gap: 10px;   
}
.wrap1-btn input {
    padding: 10px;
    width: 90%;
    max-width: 400px;
    border: none;
    border-radius: 5px;
}
.wrap1-btn button{
    padding: 10px;
    max-width: 400px;
    border: 1px solid #fff;
    background-color: black;
    color: #fff;
    border-radius: 5px;
}

@media (min-width:1150px) {
    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .wrap1-btn input {
        padding: 15px;
        width: 100%;
        margin-right: 50px;
        border: none;
        border-radius: 5px;
    }
    .wrap1-btn button{
        padding: 15px;
        border: 1px solid #fff;
        background-color: black;
        color: #fff;
        border-radius: 5px;
    }
    .wrap1{
        text-align: left;
        align-items: center;
    }
    .wrap1-btn{
        gap: 20px;
    }
    .male-btn{
        margin-left: 30px;
    }
    
}